:host {
    height: calc(100dvh - 64px);
    overflow-y: scroll;
    display: block;
}

@media all and (min-width: 432px) {
    mat-form-field {
        min-width: 400px;
    }
}

@media all and (max-width: 431px) {
    mat-form-field {
        width: 100%;
    }
}

hr {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
