<div class="center content">
    <h1>Log a drink</h1>

    @if (pageState() == "When" || pageState() == "Error" || debugUI) {
        @if (pageState() == "Error" || debugUI) {
            <p class="error">{{ errorStr }}</p>
        }
        @if (tooEarly || debugUI) {
            <p class="error">Drink logging is not yet open</p>
        }
        @if (tooLate || debugUI) {
            <p class="error">Drink logging has closed</p>
        }
        @if (!tooEarly && !tooLate) {
            <div class="subtitle">When did you drink?</div>

            <form [formGroup]="whenForm" (ngSubmit)="transitionToPubDetails()">
                <p>All drinks must be submitted within 24 hours.</p>

                <div class="radios">
                    <mat-radio-group
                        aria-label="Select an option"
                        formControlName="selectWhen"
                    >
                        <mat-radio-button value="now">Now</mat-radio-button>
                        <mat-radio-button value="past"
                            >Within 24 hours</mat-radio-button
                        >
                    </mat-radio-group>
                </div>

                @if (whenForm.get("selectWhen")?.value == "past") {
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Day</mat-label>
                            <mat-select formControlName="day_select">
                                @if (day0) {
                                    <mat-option value="day0">{{
                                        day0 | date: "dd MMM"
                                    }}</mat-option>
                                }
                                @if (day1) {
                                    <mat-option value="day1">{{
                                        day1 | date: "dd MMM"
                                    }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Time</mat-label>
                            <input
                                matInput
                                formControlName="time"
                                type="time"
                            />
                        </mat-form-field>
                    </div>
                }

                <div class="input">
                    <button
                        mat-button
                        type="submit"
                        [disabled]="whenForm.invalid"
                    >
                        Next
                    </button>
                </div>
            </form>
        }
    }
    @if (pageState() == "LoadingPubs" || debugUI) {
        <p>Loading pub selections...</p>
    }
    @if (pageState() == "PubDetails" || debugUI) {
        <form [formGroup]="pubForm" (ngSubmit)="transitionToDrinkDetails()">
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Pub/Venue name</mat-label>

                    <mat-autocomplete
                        #auto="matAutocomplete"
                        (optionSelected)="onPubSelected($event.option.value)"
                    >
                        @for (option of filteredPubs; track option.camraID) {
                            <mat-option [value]="option">
                                <div class="col">
                                    <div class="pub-row">
                                        {{ option.name }}
                                    </div>
                                    <div class="pub-addr">
                                        {{ option.address }}
                                    </div>
                                </div>
                            </mat-option>
                        }
                        <mat-option [value]="pubForm.get('venue')?.value">
                            <div class="pub-row">
                                <i>{{ pubForm.get("venue")?.value }}</i>
                            </div>
                        </mat-option>
                    </mat-autocomplete>

                    <input
                        matInput
                        formControlName="venue"
                        id="venue"
                        type="text"
                        [matAutocomplete]="auto"
                        [autofocus]="!pubIDFromRoute"
                    />
                </mat-form-field>
            </div>

            <div>
                <div class="subtitle-small">Rate this pub</div>
                <app-rating-control
                    formControlName="pubRating"
                ></app-rating-control>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <mat-label>Who were you drinking with?</mat-label>
                    <input
                        matInput
                        [maxlength]="100"
                        formControlName="drunkWith"
                        id="drunkWith"
                        type="text"
                    />
                </mat-form-field>
            </div>

            <div class="row">
                <button mat-button type="button" (click)="goBackWhen()">
                    Back
                </button>

                <button
                    class="submit"
                    mat-button
                    type="submit"
                    [disabled]="pubForm.invalid"
                >
                    Next
                </button>
            </div>
        </form>
    }
    @if (pageState() == "LoadingDrinks" || debugUI) {
        <p>Loading drinks...</p>
    }
    @if (pageState() == "DrinkDetails" || debugUI) {
        <form [formGroup]="drinkForm" (ngSubmit)="transitionToExtraDetails()">
            <div>
                <app-drink-autocomplete
                    [allBeers]="allBeers"
                    [control]="$any(drinkForm.get('name'))"
                    (beerSelected)="onBeerSelected($event)"
                    (inputChanged)="onNameChange()"
                ></app-drink-autocomplete>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <mat-label>Brewery name</mat-label>
                    <input matInput formControlName="brewery" type="text" />
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>ABV</mat-label>
                    <input
                        matInput
                        formControlName="abv"
                        type="number"
                        step="0.1"
                    />
                </mat-form-field>
            </div>

            <div class="row">
                <button mat-button type="button" (click)="goBackPub()">
                    Back
                </button>

                <button
                    class="submit"
                    mat-button
                    type="submit"
                    [disabled]="drinkForm.invalid"
                >
                    Next
                </button>
            </div>
        </form>
    }
    @if (pageState() == "ExtraDetails" || debugUI) {
        <form [formGroup]="extraForm" (ngSubmit)="logDrink()">
            <div>
                <mat-form-field>
                    <mat-label
                        >Any extra notes? (optional, viewable by
                        others)</mat-label
                    >
                    <textarea
                        matInput
                        formControlName="notes"
                        id="notes"
                        [maxLength]="200"
                    ></textarea>
                </mat-form-field>
            </div>

            <div class="row">
                <button mat-button type="button" (click)="goBackDrink()">
                    Back
                </button>

                <button
                    class="submit"
                    mat-button
                    type="submit"
                    [disabled]="extraForm.invalid"
                >
                    Submit
                </button>
            </div>
        </form>
    }
    @if (pageState() == "Saving" || debugUI) {
        <p>Logging drink...</p>
    }
    @if (pageState() == "Saved" || debugUI) {
        <p>Drink logged successfully</p>

        <p>
            <button
                mat-button
                type="button"
                (click)="goAgain()"
                id="submit-another"
            >
                SUBMIT ANOTHER
            </button>
        </p>
    }
</div>
