.rating {
    align-items: center;
}

.rating > button {
    border-radius: 0;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.b1 {
    background: crimson;
}

.b2 {
    background: red;
}

.b3 {
    background: orange;
}

.b4 {
    background: limegreen;
}

.b5 {
    background: darkgreen;
}

.rating {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .b1,
    .b2,
    .b3,
    .b4,
    .b5 {
        color: white;
    }

    .b1 {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        margin-left: 4px;
    }

    .b5 {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        margin-right: 8px;
    }

    & > button {
        text-align: center;
        opacity: 0.6;
        border-top: 2px solid white;
        border-bottom: 2px solid white;

        &:hover {
            opacity: 0.9;
        }

        &.selected {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            opacity: 1 !important;
            font-weight: bold;
        }
    }
}

:host-context(.dark) {
    .rating > button {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .rating > button.selected {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
}
