@media all and (min-width: 432px) {
    mat-form-field {
        min-width: 400px;
    }
}

@media all and (max-width: 431px) {
    mat-form-field {
        width: 100%;
    }
}

mat-option.beer {
    padding: 0 8px;
}

::ng-deep mat-option.beer .mdc-list-item__primary-text {
    width: 100%;
}

.beer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.beer-img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.details {
    color: #808080;
    font-size: 0.8em;
}

.beer-text {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
}

.beer-name,
.details {
    text-overflow: ellipsis;
    overflow: hidden;
}

$radius: 12px;

.beer-colour {
    width: 2 * $radius !important;
    height: 2 * $radius !important;
    border-radius: $radius;
    flex-shrink: 0;
    margin-left: 8px;
    text-align: center;
    font-size: $radius;
    line-height: 2 * $radius;
    color: white;
    font-weight: bold;
}

.red {
    background: #ee0700;
}

.yellow {
    background: #ffcc00;
}

.green {
    background: #008000;
}

.brown {
    background: #784421;
}

.blue {
    background: #72aaee;
}

.pink {
    background: #fe588e;
}

.black {
    background: #000;
}
