{
    "tabWidth": 4,
    "bracketSpacing": false,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ],
    "htmlWhitespaceSensitivity": "css"
}
